/*body{
    box-sizing: border-box;
    height:100%;
    width: 100%;
    background-color:rgb(71, 71, 71);
    color:rgb(226, 226, 226);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
}*/

/*
header{
    background-color: rgb(58, 58, 58);
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}*/

.main{
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    /* background-color:rgb(108, 108, 108); */
    color:rgb(226, 226, 226);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px auto 0 auto;
    padding: 0 auto;    
    text-align: center;
    height: 700px;
    max-height:700px;
    width: 500px;
    max-width:500px;
}

.cards{
    padding:35px 40px 35px 40px !important;
    background-color:rgb(108,108,108);
    box-sizing:border-box;
    display: grid;
    height: 700px;
    width: 500px;
    max-width:500px;
    /* margin: 110px auto; */
    color: #FFF;
}

.numero{
    margin:0 auto 20px auto;
    background-color:rgb(85, 85, 85);
    border-radius: 50%;
    height:70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numero h1{
    font-size: 40px;
    padding-bottom:5px;
}

.enunciado{
   color:rgb(230, 230, 230);
   max-width: 85%;
   margin: 0 auto;
}

.resposta{
    margin:100px auto 100px auto;
    width: 250px;
    font-size: 20px;
    align-items: center;
}

.div_botoes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    width: 100%;
    gap:0;
    font-size: 15px;
    /* height:auto; */
    align-items: end;
}

.botoes{
    background-color:rgb(131, 131, 131);
    margin:5px;
    padding:5px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    align-items: center;
    /*font-size:15px;*/
    height:50px;
    width: 98%;
    border:none;
    outline:none;
    box-shadow:none;
    color:rgb(226, 226, 226);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bot_revelar{
    background-color: rgb(150, 150, 150);
    font-size:20px;
}

.bot_editar{
    background-color:rgb(87, 87, 87);
    color:rgb(216, 216, 216);
}

.botoes:hover{
    background-color:rgb(172, 172, 172);
}

.cards_verso{
    background-color:rgb(108, 108, 108);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 120px 75px 200px 80px 95px 80px;
    height: 700px;
    width: 500px;
    padding:35px 40px 35px 40px;
}

.cards_verso > h1{
    /* margin-bottom: 30px; */
    font-size: 35px;
}

.cards_verso > h3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.icones{
    background-color:magenta;
    box-sizing: content-box;
    height: 25px;
    min-width: 25px;

}

.interrogacao{
    margin-right: 10px;
}

.seta_esq{
    margin-right: 10px;
}

.seta_dir{
    margin-left: 10px;
}

.lapis{
    margin-right: 10px;
}

.errei{
    margin-right:10px
}

.acertei{
    margin-right:10px
}